<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--><!-- The contents of this file will be loaded for each web application --><Context>

    <!-- Default set of monitored resources -->
	
    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->

    <!-- Uncomment this to enable Comet connection tacking (provides events
         on session expiration as well as webapp lifecycle) -->
    <!--
    <Valve className="org.apache.catalina.valves.CometConnectionManagerValve" />
    -->
    
    <!-- 三期开发环境数据库
    <Resource
      name="jdbc/AIDS"
      auth="Container"
      type="javax.sql.DataSource"
      driverClassName="oracle.jdbc.driver.OracleDriver"
      url="jdbc:oracle:thin:@192.168.100.181:1521:orclcdc"
      username="DHOW_AIDS"  
      password="embed"     
      maxActive="4"
      maxIdle="2"
      maxWait="5000"
	  logAbandoned="true"
     />   -->
     
    <!-- 二期正式环境数据库 -->
    <!--  
    <Resource
      name="jdbc/AIDS"
      auth="Container"
      type="javax.sql.DataSource"
      driverClassName="oracle.jdbc.driver.OracleDriver"
      url="jdbc:oracle:thin:@10.248.7.43:1521:cdcaids"
      username="aids"  
      password="embed"     
      maxActive="4"
      maxIdle="2"
      maxWait="5000"
	  logAbandoned="true"
     />   -->
     
    <!-- 二期测试环境数据库
    <Resource
      name="jdbc/AIDS"
      auth="Container"
      type="javax.sql.DataSource"
      driverClassName="oracle.jdbc.driver.OracleDriver"
      url="jdbc:oracle:thin:@10.248.7.79:1521:cdctest"
      username="aids"  
      password="embed"     
      maxActive="4"
      maxIdle="2"
      maxWait="5000"
	  logAbandoned="true"
     />    -->      
     
  <!-- 三期正式环境数据库 -->  
   <!-- 
  <Resource
      name="jdbc/AIDS"
      auth="Container"
      type="javax.sql.DataSource"
      driverClassName="oracle.jdbc.driver.OracleDriver"
      url="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.248.77.45)(PORT=1521)))(FAILOVER=on)(LOAD_BALANCE=on)(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=CDCWDYWG)(FAILOVER_MODE=(TYPE=SELECT)(METHOD=BASIC)(RETIRES=20)(DELAY=15))))"
      username="china_aids"  
      password="embed"        
      maxActive="4"
      maxIdle="2"
      maxWait="5000"
	  logAbandoned="true"
	/> 

  -->
  <!--  三期本地环境数据库  --> 
	<!-- 
     <Resource
      name="jdbc/AIDS"
      auth="Container"
      type="javax.sql.DataSource"
      driverClassName="oracle.jdbc.driver.OracleDriver"
      url="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.192.70.47)(PORT=1521)))(FAILOVER=on)(LOAD_BALANCE=on)(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SINOWH)(FAILOVER_MODE=(TYPE=SELECT)(METHOD=BASIC)(RETIRES=20)(DELAY=15))))"
      username="uaams"  
      password="embed"        
      maxActive="4"
      maxIdle="2"
      maxWait="5000"
	  logAbandoned="true"
	/>
	 -->
	
	 <!-- 
	 --> 
	 <!--  三期测试环境数据库  --> 
      <Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" logAbandoned="true" maxActive="4" maxIdle="2" maxWait="5000" name="jdbc/AIDS" password="embed" type="javax.sql.DataSource" url="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.248.7.67)(PORT=1521)))(FAILOVER=on)(LOAD_BALANCE=on)(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=cdctest)(FAILOVER_MODE=(TYPE=SELECT)(METHOD=BASIC)(RETIRES=20)(DELAY=15))))" username="china_aids"/>   
	 <!--  三期本地环境数据库  --> 
    <!--  <Resource
      name="jdbc/AIDS"
      auth="Container"
      type="javax.sql.DataSource"
      driverClassName="oracle.jdbc.driver.OracleDriver"
      url="jdbc:oracle:thin:@192.168.100.23:1521/orclcdc"
      username="china_aids"  
      password="embed"        
      maxActive="4"
      maxIdle="2"
      maxWait="5000"
	  logAbandoned="true"></Resource> -->
 <!--<Resource
      name="jdbc/AIDS"
      auth="Container"
      type="javax.sql.DataSource"
      driverClassName="oracle.jdbc.driver.OracleDriver"
      url="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.192.70.47)(PORT=1521)))(FAILOVER=on)(LOAD_BALANCE=on)(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SINOWH)(FAILOVER_MODE=(TYPE=SELECT)(METHOD=BASIC)(RETIRES=20)(DELAY=15))))"
      username="china_aids"  
      password="embed"        
      maxActive="4"
      maxIdle="2"
      maxWait="5000"
	  logAbandoned="true"
	/>  
	/> -->
	
	 <Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="100" maxIdle="30" maxWait="5000" name="jdbc/BRIS" password="embed" type="javax.sql.DataSource" url="jdbc:oracle:thin:@10.192.70.159:1521:smpora1" username="bris2"/> 

</Context>